# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Windows-Style newlines with a newline ending every file
[*]
end_of_line = crlf
insert_final_newline = true
indent_style = space
indent_size = 4
tab_width = 4
trim_trailing_whitespace = true
charset = utf-8
curly_bracket_next_line = true
